@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

#root {
  font-family: "Nunito", Nunito, sans-serif;
}

h1 {
  text-align: center;
}

.set-timer-container {
  display: flex;
  justify-content: center;
}

.set-timer {
  text-align: center;
  padding: 10px;
  border: 3px solid red;
  margin: 0 20px 0px 20px;
}

.set-timer button {
  background: none;
  border: none;
  margin: 0 15px 0 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.session-count {
  text-align: center;
}

.pomodoro {
  border: 3px solid red;
  width: 40vw;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0 10px 0;
}

.timer-display {
}

.timer-display p {
  text-align: center;
  margin: 4px 0px 4px 0px;
}

.timer-display h3 {
  text-align: center;
  margin: 4px 0px 0px 0px;
}

#description {
  text-align: center;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
}

.controls {
  text-align: center;
}

.controls button {
  margin: 0 10px 0 10px;
}
