@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

/* 
TODO:
-  Mobile responsiveness
-  Set a standard width for set-timers
-  Set timer-display to width of set-timers
*/

body {
  background: var(--neutral-5);
}

#root {
  font-family: "Nunito", Nunito, sans-serif;

  /* Accent colors*/
  --primary-1: #2b8379;
  --primary-2: #19a596;
  --primary-3: #7fd1c7;
  --primary-4: #7fd1c7;
  --primary-5: #d0f3ef;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  padding-top: 12vh;
}

h1 {
  text-align: center;
}

button {
  font-size: 1.2em;
}

.set-timer-container {
  display: flex;
  justify-content: center;
}

.set-timer {
  text-align: center;
  padding: 10px;
  border: 3px solid var(--neutral-3);
  margin: 0 20px 0px 20px;
  border-radius: 15px;
}

.set-timer p {
  margin: 4px 0 4px 0;
}

.set-timer button {
  background: none;
  border: none;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.session-count {
  text-align: center;
}

.pomodoro {
  border: 3px solid var(--neutral-3);
  border-radius: 20px;
  width: 355px;
  margin: auto;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  align-items: center;
}

.center {
  margin: auto;
  width: 0%;
}

.timer-display p {
  text-align: center;
  margin: 4px 0px 4px 0px;
}

.timer-display h3 {
  text-align: center;
  margin: 4px 0px 0px 0px;
}

#description {
  text-align: center;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
}

#time-left {
  font-size: 5em;
  margin: 10px 0px 10px 0px;
}

.controls {
  text-align: center;
}

.controls button {
  background: none;
  border: none;
  margin: 0 4px 4px 4px;
  cursor: pointer;
}

#clear {
  display: flex;
  text-align: center;
  margin: auto;
  align-items: center;
  font-size: 0.9em;
}
